---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80

---
Language: Cpp
AlignAfterOpenBracket: BlockIndent
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: All
AlignArrayOfStructures: Left
InsertTrailingCommas: Wrapped
