Checks: '*,\
    -llvm-header-guard,\
    -llvmlibc-callee-namespace,\
    -llvmlibc-restrict-system-libc-headers,\
    -llvmlibc-implementation-in-namespace,\
    -altera-unroll-loops,\
    -altera-id-dependent-backward-branch,\
    -misc-no-recursion,\
    -fuchsia-trailing-return,\
    -fuchsia-default-arguments-calls'
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!catch2\/.*\.hpp)'
AnalyzeTemporaryDtors: false
FormatStyle: .clang-format
UseColor: true