Checks: '*,\
    -llvm-header-guard,\
    -llvmlibc-callee-namespace,\
    -llvmlibc-restrict-system-libc-headers,\
    -llvmlibc-implementation-in-namespace,\
    -llvmlibc-inline-function-decl,\
    -altera-unroll-loops,\
    -altera-id-dependent-backward-branch,\
    -altera-struct-pack-align,\
    -misc-no-recursion,\
    -fuchsia-trailing-return,\
    -fuchsia-default-arguments-calls,\
    -cppcoreguidelines-avoid-do-while,\
    -hicpp-avoid-c-arrays,
    -concurrency-mt-unsafe'
    
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!catch2\/.*\.hpp)'
AnalyzeTemporaryDtors: false
FormatStyle: .clang-format
UseColor: true