CompileFlags:
  Add: [-Wall, -std=c++17]
  Compiler: clang++

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: "*"
    Remove: [
      llvmlibc-callee-namespace,
      llvmlibc-implementation-in-namespace,
      llvmlibc-restrict-system-libc-headers,
      misc-no-recursion,
      fuchsia-trailing-return,
      fuchsia-default-arguments-calls,
      altera-unroll-loops,
      altera-id-dependent-backward-branch,
    ]

InlayHints:
  Designators: No
  Enabled: No
  DeducedTypes: No